body {
font-family: Arial;
color: white;
background-color: #4912f6;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.topbar {
	display: flex;
	align-items: center;
}
a {
	text-decoration: none;
	color: gray;
	font-weight: bold;
	white-space: nowrap;
}
a:visited {
	color: #999999;
}
a:hover {
	color: orange;
}
input[type='button'] {
	border-radius: 25px;
	background-image: linear-gradient(to right,#e7aa5e,#c35d09);
	color: white;
	border: 0px;
	padding: 10px 20px 10px 20px;
	font-weight: bold; 
}
.left-main-column {
	display: flex;
	flex-direction: column;
}
#sessions-button {
padding: 10px;
font-size: 10px;
margin: 10px 20px 10px 30px;
text-align: center;
width: 110px;
height: 50px;
white-space: normal;
}
.section-2 {
	display: flex;
	padding-bottom: 75px;
	justify-content: center;
}
.right-main {
	flex: 1;
}
.section-3 {
display: flex;
justify-content: center;
padding-bottom: 100px;
}
.section-4 {
	display: flex;
}
.bottom-left {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-left: 50px
}
.bottom-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-left: 50px;
}